<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Spring Boot Application</title>
</head>
<body>
<form th:action="@{trackName?name=}" method="get" class="form-name-register">
    <div>
        <label for="input-name">Enter your name: </label>
        <!--    A string composed of only English alphabet for cookie format requirement-->
        <input type="text" th:name="name" id="input-name" required/>
    </div>
    <div>
        <input type="submit" value="Remember me!"/>
    </div>
</form>
</body>
</html>