/* nav links */
.nav-item-link {
    color: #5f6368;
    padding: 10px 18px;
    text-decoration: none;
    position: relative;
}
.nav-item-link:hover{
    color: #202124;
   /* border-bottom: 1.5px solid #202124; */
}
.nav-item-link:hover::after {
    /* https://stackoverflow.com/questions/4131490/any-way-to-limit-border-length */
    content: "";
    background: 202124;
    position: absolute;
    bottom: 0;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the pseudo-element horizontally */
    height: 1.5px;
    width: 50%;
    background-color: #5f6368;
  }
