/* SearchBox.module.css */
.search-container {
    display: flex;
    align-items: center;
    width: 200px; /* TODO Adjust when clicked */
    border-radius: 5px;
    background-color: #F1F3F4;
    padding: 5px;
  }
  
  .search-icon {
    margin-right: 10px; /* Space between icon and input */
    color: #5f6368;
  }
  
  .search-input {
    flex: 1; /* Expand input to fill remaining space */
    background-color: #F1F3F4;
    border: none;
    outline: none;
    font-size: 14px;
  }
  